#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: dashed 5px aquamarine;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.button{
  background-color: aquamarine;
  color:black;
}
.petList{
  display:flex;
  justify-content: center;
  color: aquamarine;
}
h1{
  color: aquamarine;
}
h2{
  color:aquamarine;
}
